/* FONTS*/
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hankengrotesk/v8/ieVo2YZDLWuGJpnzaiwFXS9tYtpY_d6T_POl0fRJeyVVpfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hankengrotesk/v8/ieVq2YZDLWuGJpnzaiwFXS9tYvBRzyFLlZg_f_NcgWZa4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hankengrotesk/v8/ieVq2YZDLWuGJpnzaiwFXS9tYvBRzyFLlZg_f_NcM2Fa4Q.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}
span,
p {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
}
.wrapper {
  width: 500px;
  height: 350px;
  display: grid;
  grid-template-columns: 250px 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(46, 43, 233, 0.15);
}
.centered {
  margin: auto;
  margin-top: 15%;
}
.result {
  padding: 20px 30px;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  border-radius: 20px;
  text-align: center;
}
.result .title {
  color: rgba(255, 255, 255, 0.7);
}
.result .circle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: hsl(256, 72%, 46%);
  border: 1px white;
  margin: 20px auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.result .result-number {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  font-weight: 800;
  font-size: 40px;
}
.result .of {
  grid-area: 2 / 1 / 3 / 2;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.result .commentary {
  font-size: 25px;
}
.result .comparison {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.summary {
  padding: 20px 20px;
}
.summary .title {
  display: block;
  font-weight: 700;
}
.summary .categories:first-of-type {
  margin-top: 15px;
}
.summary .categories {
  display: inline-block;
  text-align: left;
  width: 180px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 2px;
  font-size: 12px;
}
.summary .categories img {
  vertical-align: bottom;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.summary .categories .category-name {
  margin-right: 50px;
}
.summary .categories p {
  vertical-align: baseline;
}
.summary .categories .bold {
  text-align: right;
  font-weight: 800;
  vertical-align: baseline;
  margin-right: 5px;
}
.summary .categories .grey {
  color: hsl(0, 0%, 61%);
  vertical-align: baseline;
}
.summary .categories .category-name {
  margin-left: 5px;
}
.summary .categories .right {
  float: right;
}
.summary .reaction {
  background-color: rgba(255, 87, 87, 0.1);
}
.summary .reaction .category-name {
  color: hsl(0, 100%, 67%);
}
.summary .memory {
  background-color: rgba(255, 176, 31, 0.1);
}
.summary .memory .category-name {
  color: hsl(39, 100%, 56%);
}
.summary .verbal {
  background-color: rgba(0, 255, 195, 0.1);
}
.summary .verbal .category-name {
  color: hsl(166, 100%, 37%);
}
.summary .visual {
  background-color: rgba(17, 37, 212, 0.1);
}
.summary .visual .category-name {
  color: hsl(234, 85%, 45%);
}
.summary button {
  color: white;
  background-color: hsl(224, 30%, 27%);
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  margin-top: 30px;
}
.summary button:hover {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.attribution {
  text-align: center;
  font-size: 12px;
}
@media (max-width: 500px) {
  .centered {
    margin-top: 0;
  }
  .wrapper {
    width: auto;
    height: 700px;
    display: block;
    box-shadow: none;
  }
  .result {
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
  }
  .item-centered {
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  .summary {
    width: 100%;
    padding: 0;
  }
  .summary .title {
    margin-top: 20px;
    text-align: center;
  }
}
